/* Link: importação de fonte externa (Inter) via Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Configurações gerais para o documento HTML */

* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9FAFC;
}

/* Estilizações para a barra de navegação ('index.html' + 'users.html') */

.navbar {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.navbar .logo {
    color: #63636D;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    color: #63636D;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.navbar .menu a:hover {
    color: #2F2F2F;
}

.navbar .menu a.active {
    color: #2F2F2F;
    font-weight: bold;
}

/* Estilizações para o formulário de cadastro de usuários em 'index.html' */
/* Observação: aproveitamento de estilos para o arquivo 'users.html' */

.form-container,
.users-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-container .title,
.users-container .title {
    text-align: center;
}

.form-container .title h1,
.users-container .title h1 {
    color: #1F2F48;
    margin-bottom: 15px;
}

.form-container .title p,
.users-container .title p {
    color: #858C98;
    margin-bottom: 15px;
}

.form-container .form {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.form-container .form h3 {
    color: #1F2F48;
    margin-bottom: 15px;
}

.form-container .form form {
    display: flex;
    flex-direction: column;
}

.form-container .form label {
    color: #1F2F48;
    margin-bottom: 5px;
}

.form-container .form input {
    background-color: #F7F7F7;
    border: 1px solid #D0DBEF;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 15px;
    padding: 7px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-container .form input:focus {
    border-color: #4D6281;
    border-width: 2px;
}

.form-container .form button {
    background-color: #4D6281;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.form-container .form button:hover {
    background-color: #708EBC;
}
