<!DOCTYPE html>
<html lang="pt-BR"> <!-- Linguagem padrão: português do Brasil -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link: arquivo 'styles.css' para estilos em CSS -->
    <title>ContactManager | Agenda on-line</title>
</head>
<body>
    <!-- Construção da barra de navegação -->

    <nav class="navbar">
        <div class="logo">
            <p>ContactManager</p>
        </div>

        <!-- Itens de acesso na barra de navegação: 'Cadastrar' e 'Usuários' -->

        <div class="menu">
            <a href="../index.html">Cadastrar</a>
            <a href="users.html" class="active">Usuários</a>
        </div>
    </nav>

    <!-- Construção do conteúdo principal da página: tabela de usuários -->

    <main class="users-container">
        <div class="title">
            <h1>Usuários</h1>
            <p>Gerencie usuários cadastrados</p>
        </div>
    </main>

    <script src="script.js" type="module"></script> <!-- Link: arquivo 'script.js' para lógica -->
</body>
</html>
